--2018-06-28 10:51:39--  https://raw.githubusercontent.com/github/gitignore/master/Android.gitignore
Resolving raw.githubusercontent.com... 0.0.58.217
Connecting to raw.githubusercontent.com|0.0.58.217|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002 [text/plain]
Saving to: ‘Android.gitignore’

     0K                                                       100% 34.1M=0s

2018-06-28 10:51:40 (34.1 MB/s) - ‘Android.gitignore’ saved [1002/1002]

